{% load i18n thumbnail %}{% spaceless %}

<div id="{{ widget_id }}"></div>
<div style="display: none">{{ hidden_input }}</div>


{% if object %}
    {% thumbnail object.file size as thumb %}
    <a class="folderless_file_link" href="{{ object.url }}" target="_blank"><img class="folderless_thumb" src="{{ thumb.url }}" alt="{{ object.label }}" ></a>
    &nbsp;<span class="folderless_file_label">{{ object.label }}</span>
{% else %}
	<a class="folderless_show_file"><img src="{{ folderless_static }}img/nofile.png" class="quiet folderless_thumb" alt="{% trans 'no file selected' %}" ></a>
	&nbsp;<span class="folderless_file_label"></span>
{% endif %}

<!-- lookup -->
<a href="{{lookup_url}}" class="related-lookup" title="{% trans 'Lookup' %}" id="lookup_{{ id }}" onclick="return showRelatedObjectLookupPopup(this);">
	<img src="{{ admin_static }}img/selector-search.gif" width="16" height="16" alt="{% trans 'Lookup' %}" />
    {% trans "Browse" %}
</a>

<!-- upload -->
<a class="folderless_uploader">
    <img src="{{ admin_static }}img/icon_addlink.gif" alt="{% trans 'Upload' %}" title="{% trans 'Upload' %}">
    {% trans "Upload" %}
</a>
<input style="display: none" class="folderless_fileinput" type="file" name="{{ id }}_files[]" data-url="server/php/">

<!-- edit -->
<a href="{{ object.admin_url }}" target="_blank" class="folderless_edit">
    <img src="{{ admin_static }}img/icon_changelink.gif" alt="{% trans 'Clear' %}" title="{% trans 'Clear' %}" {% if not object %} style="display: none;"{% endif %}" />
    {% trans "Edit" %}
</a>

<!-- remove -->
<a class="folderless_remove">
    <img src="{{ admin_static }}img/icon_deletelink.gif" alt="{% trans 'Clear' %}" title="{% trans 'Clear' %}" {% if not object %} style="display: none;"{% endif %}" />
    {% trans "Remove" %}
</a>



<script type="text/javascript">

$(document).ready(function($) {
    // you can now use jquery / javascript here...
    $('.field-{{ name }}').folderless_file_widget();
});

</script>

{% endspaceless %}