

body .folderless_hidden
{
    display: none;
}
.upload_errors {
    text-decoration: underline;
}
.upload_errors:hover {
  cursor:pointer;
}

.folderless_file_link {
    display: inline-block;
    margin-right: 15px;
    background-color: #f1f1f1;
    line-height: 0px;
    vertical-align: middle;
    text-align: center;
}
.folderless_no_link {
    /* cursor: cell; */
}
.folderless_file_link span {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.folderless_file_link img {
    vertical-align: middle;
    display: inline-block;
}

.folderless_button {
    cursor: pointer;
}
.folderless_button, .folderless_file_label {
    display: inline-block;
    margin: 0 15px 0 0;
}

.folderless_upload_info {
    float: left;
    padding: 2px 10px 0 10px;
    display: block;
    /*
    color:white;
    background-color: #bbb;
    */
}

.folderless_widget_upload_info {
    display: inline-block;
    padding: 0 10px 0 0;
    background-color: transparent;
    color: #333;
}

/* override djangocms-admintools styles! */
.related-lookup {
    overflow: visible;
    width: auto !important;
    background: none !important;
}

/* since Django 1.8 ?! */
.related-widget-wrapper-link {
    display: none;
}
